################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/BestPratices/v16
/.vs/BestPratices/FileContentIndex
/BestPratices
/DependencyInjectionMethods/bin/Release/net6.0
/DependencyInjectionMethods/obj/Release/net6.0/refint
/DependencyInjectionMethods/obj/Release/net6.0
/DependencyInjectionMethods/obj/Debug/net6.0
/DependencyInjectionMethods/obj
/DependencyInjectionMethods/DependencyInjectionMethods.csproj.user
